{% extends 'base.html' %}

{% block context%}


<table class="table">
	<tr>
		<th> Player </th>
		<th> Opted: Team Leader </th>
		<th> Strength </th>
		<th> Assign Roles</th>
	
	{% for player in users %}
	</tr>
		<td> {{player.fullname}}</td>
		
		{% if player.willing_teamLeader == True %}
		<td> Yes </td>
		{% else%}
		<td> No </td>
		{% endif %}

		<td>Strength : </td>

		<td> 
		<form action = "/assign_role" method="POST" name="change_role">
		<div class="btn-group">
			<button type="submit" class="btn btn-default" name="captain" value="{{player.id}}" >Make Captain</button>
			<button type="submit" class="btn btn-default" name="admin" value="{{player.id}}">Make Admin</button>
			<button type="submit" class="btn btn-default" name="undo" value="{{player.id}}"> Undo Changes</button>
		</div>
		</form>
		</td>
	</tr>
	{% endfor %}
</table>


<!-- Captain Table -->
<table class="span6">
	<tr>
		<th>Captain</th>
		<th> Team_Name </th>
	
	{% for player in captains %}
	</tr>
		<td> {{player.fullname}}</td>
	</tr>
	{% endfor %}
</table>

<!-- Admin Table-->
<table class="span6">
	<tr>
		<th>Admin</th>
		<th> Team_Name </th>
	
	{% for player in admins %}
	</tr>
		<td> {{player.fullname}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}