<!-- base template -->

<!DOCTYPE html>
<html>
  
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> No Sweat Soccer</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
   
    <!-- GoogleFont-->
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <!-- End GoogleFont-->

    <style>
    div.background{  
      }

    div.background:after {
    content: "";
    background-image: url('static/img/ball_img.jpg');
    background-size: 100%;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
      }   
    </style>

  </head>

  
  <body>
    <div class='container-fluid'>
      
      <div class="span1"></div>
      
      <div class="span10">

      <h3 class="google_header">No Sweat Soccer</h3>
      
      <ul class="nav nav-tabs">
        {% include 'links.html' %}
      </ul>

      {% if open_registration == False %}
      <p class="alert alert-danger google_label">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Note: Registration closed at this time. </p>
      {% endif%} 


    <script src="/static/js/jquery-2.0.3.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
   
    <script>
      $('.dropdown-toggle').dropdown()
    </script>

    
      {%block context %}

      {%endblock%}
    </div>
    
    <div class="span1"></div>
  </div>
  </body>

</html>
