{% extends 'base.html' %}



{% block context %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">{{ message }}</div>
{% endfor %}
	
<!--Calendar-->	
<div>
	<h1 class="text-center google_header"> 
	{{current_month}} {{current_yr}}</h1 > 
	<div align="center">
		<table border= "2" width="50%" height="50%">
			<thead>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</thead>
			<tbody>
				{% for w in each_week %}
				<tr>
					{% for day in w %}
						{% if day == 0 %}
						<td></td>
						{% else %}
						<td>{{day}}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody> 
			<tfoot>
				<tr><form action="calendar" method='GET'>
  					View Month: <input type="date" name="month">
  					<button class="btn btn-success" type="submit">Submit</button></form>
				</tr>
			</tfoot>
		</table> 
	</div>

	<!--Add Matches-->
	<div align="center">
		<form action="calendar" method="POST">
		{{form.hidden_tag()}}

		{% from '_formhelper.html' import render_field %}
		<!-- Begin error check-->
		<dl>

			<table class="table-third">
				<tr> 
					<th>{{form.game_date.description}}<br>
						{{render_field(form.game_date)}}</th>
				</tr>	
			
				<tr>
					<th>{{form.home_team.description}}<br>
						{{render_field(form.home_team)}}</th>

				<tr>
					<th>{{form.away_team.description}}<br>
						{{render_field(form.away_team)}}</th>
				<tr>
			</table>
			<button class="btn btn-success">Set Game!</button>
		</dl>		
		</form>
	</div>
</div>

<a href="schedule"> Record Scores </a>


{% endblock %}