<!-- Links on navbar -->
{% if g.user.is_authenticated() %}
  {% if g.user.role == 2 %}
  <li class="active">
    <a href="/index" data-toggle="tab">Home</a></li>
    <!-- Profile Dropdown Menu -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Profile <span class="caret"></span></a>

      <ul class="dropdown-menu">
        <li>
          <a tabindex="-1" href="{{url_for('user',fullname = g.user.fullname)}}">My Profile</a></li>
        <li>
          <a tabindex="-1" href="/edit">Edit Information</a></li> 
        <li>
          <a tabindex="-1" href=""></a></li>
      </ul>
    </li>
      
      <!-- Admin Tools Dropdown Menu -->
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Admin Tools <span class="caret"></span></a>

      <ul class="dropdown-menu">
        <li>
          <a tabindex="-1" href="{{url_for('view_players')}}">View Players</a></li>
        <li>
          <a tabindex="-1" href="/seasons">Season Cycles</a></li>
        <li>
          <a tabindex="-1" href="/assign_role"> Assign Captains </a></li>
        <li>
          <a tabindex="-1" href=""></a></li>
      </ul>

    </li>

    <li class="active">
      <a href="{{url_for('logout')}}" data-toggle="tab">Logout</a></li>


  {% else %}         

    <li class="active">
      <a href="/index" data-toggle="tab">Home</a></li>
      <!-- Profile Dropdown Menu -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        Profile <span class="caret"></span></a>

        <ul class="dropdown-menu">
          <li>
            <a tabindex="-1" href="{{url_for('user',fullname = g.user.fullname)}}">My Profile</a></li>
          <li> 
            <a tabindex="-1" href="/edit">Edit Information</a></li> 
          <li>
            <a tabindex="-1" href=""></a></li>
        </ul>
      </li>
     <li class="active">
      <a href="{{url_for('logout')}}" data-toggle="tab">Logout</a></li>
  {% endif %}

{% else %}
<li class="active">
  <a href="/index" data-toggle="tab">Home</a></li>
<li class="active">
  <a href="{{url_for('login')}}" data-toggle="tab">Login</a></li>
<li class="active">
  <a href="{{url_for('register')}}" data-toggle="tab">Create Account</a></li>
 {% endif %}