{% extends 'base.html' %}


{% block context%}

<h3 class="google_header">
Home Score: {{game.home_score}} - Opponent Score: {{game.away_score}}
</h3>
<br> <a href='calendar'> Back to Calendar </a>

<div>
	<table border="2" class="span4">
		<th> Home Team: Players</th>
		
		<form action='game_stats' method='POST' name='player_rating'>
		{{form.hidden_tag()}}
		<input type="hidden" name='game' value='{{game.id}}'>

			<!---List of players -->
			<tr><td align="center"><select name="name">
					{% for player in home_players %}
					<option value='{{player.user.id}}'> {{player.user.fullname}}</option>
					{% endfor %}
			</select></td></tr>

			<!--Stat Form-->
			{% from '_formhelper.html' import render_field %}
			<dl> <!-- Begin form.error check -->
					
			<tr>
				<td> {{form.goals.description}}
					 {{form.goals}} <br>
					 {{form.assists.description}}
				 	 {{form.assists}} <br>
					 {{form.goalie_win.description}}
					 {{form.goalie_win}} <br>
					 {{form.goalie_loss.description}}
					 {{form.goalie_loss}} <br>
					 {{form.absence.description}}
					 {{form.absence}}</td>			
			</tr>

			<tr><td align="center"> <button type="submit"> Update 
			</button></td></tr>
			
			</dl>		
		</form>
	</table>

	<table border="2" class="span4">
		<th> Opponent Team: Players</th>

		<form action='game_stats' method='POST' name='player_rating'>
		{{form.hidden_tag()}}
		<input type="hidden" name='game' value='{{game.id}}'>

			<!---List of players -->
			<tr><td align="center"><select name="name">
					{% for player in away_players %}
					<option value="{{player.user.id}}"> {{player.user.fullname}}</option>
					{% endfor %}
			</select></td></tr>

			<!--Stat Form-->
			{% from '_formhelper.html' import render_field %}
			<dl> <!-- Begin form.error check -->
					
			<tr>
				<td> {{form.goals.description}}
					 {{form.goals}} <br>
					 {{form.assists.description}}
				 	 {{form.assists}} <br>
					 {{form.goalie_win.description}}
					 {{form.goalie_win}} <br>
					 {{form.goalie_loss.description}}
					 {{form.goalie_loss}} <br>
					 {{form.absence.description}}
					 {{form.absence}}</td>				
			</tr>

			<tr><td align="center"> <button type="submit"> Update 
			</button></td></tr>
			</dl>		
		</form>
	</table>
</div>

<div>
	<table class="span4" width="30%" height="30%">
		<br></br><br></br><br></br>
		<br></br><br></br><br></br>
		<br></br><br></br><br></br>
	</table>
</div>

{% for message in get_flashed_messages() %}
<div class="span8"><h3 class="google_label">{{ message }}</h3></div>
{% endfor %}

	<!-- Game Result for Players -->
<div>
	<table border="2" class="span8">
		<th colspan="8"> Player Stats: {{game.game_date}}</th>
		<tr><th> Player </th>
			<th> Goals </th>
			<th> Assists </th>
			<th> Goalie Win </th>
			<th> Goalie Loss </th>
			<th> Absent </th>
			<th> Game Strength </th>
			<th> Player Rating </th>
			

		{% for stat in player_stats%}
		<tr> 
			<td> {{stat.user.fullname}}</td>
			<td> {{stat.goals}}</td>
			<td> {{stat.assists}}</td>
			{% if stat.goalie_win == False %}
			<td> No </td>
			{% else %}
			<td> Yes </td>
			{% endif %}

			{% if stat.goalie_loss == False %}
			<td> No </td>
			{% else %}
			<td> Yes </td>
			{% endif %}

			{% if stat.absence == False %}
			<td> No </td>
			{% else %}
			<td> Yes </td>
			{% endif %}

			<td> {{stat.strength}} </td>

			{% if stat.stat_saved == False %}
			<td> {{stat.user.getRating()}}</td>
			<td>
				<form action='stat_delete' method='POST'>
				<input type="hidden" name='game' value='{{game.id}}'>
					<button name='delete_stat' value="{{stat.id}}"><img src='static/img/delete.png'>
					</form></td>
			<td>
				<form action='player_update' method='POST'>
					<input type="hidden" name='game' value='{{game.id}}'>
					<input type="hidden" name='stats' value='{{stat.id}}'>

					<button class="btn btn-success" name="player" value='{{stat.user.id}}'> Save </button>
				</form></td>
			{% else %}
			<td> New Rating: {{stat.user.getRating()}}</td>
			<td></td>
			<td></td>
			{% endif %}
		</tr>

		{% endfor%}
	</table>
</div>



{% endblock %}