{% extends 'base.html' %}

{% block context %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}

<a href="/calendar"> Back to Calendar </a>
<!-- List of Games -->
<div>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th> Game Date </th>
			<th> Home Team </th>
			<th> Opponent </th>
			<th> Home/Opponent</th>
			<th> Opponent </th>
			<th> Delete </th>
			<th> Home Score/ 
				 Opponent Score </th>
			<th> Edit </th>
			<th> Update</th>
		</tr>
		</thead>
		<tbody>
		
		{% for game in games %}	
			{% for team in all_teams %}
			   {% if team.id == game.home_team %}
			<tr>
				<td> {{game.game_date}} </td>
				<td> {{teams.get(game.home_team)}} </td>
				<td> {{teams.get(game.away_team)}} </td>
				<td> {{game.home_score}} </td>
				<td> {{game.away_score}} </td>
				
				{% if game.game_saved == False %}
				<td>
					<form action='game_delete' method='POST'>
					<button name='delete_game' value="{{game.id}}"><i class="icon-remove"></i></button></form>
				</td>
			
				<form action='game_edit' method='POST'>
				{{form_s.hidden_tag()}}

				<td> Home:{{form_s.home_score}}<br>
					 Opponent: {{form_s.away_score}}</td>

				<td><button class="btn btn-primary" name='edit_game' value="{{game.id}}"> <i class="icon-edit"></i> </td>
				</form>
				
				<form action='game_record' method='POST'>
				{{form_s.hidden_tag()}}
				<td>
					<button class= "btn btn-success" name='record_game' value="{{game.id}}"> Save </td> 
				</form>

				{% else %}
				<td></td>
				<!-- Show updated ratings after save button selected -->
				<td>
				{% for rating in game.game_ratings %}
					{% if rating.team_id == game.home_team %}
				     <br>Home: {{rating.team_rating }}
					{% endif%}
					{% if rating.team_id == game.away_team %}
				     <br>Opponent: {{rating.team_rating}}
					{% endif %}
				{% endfor %}
				</td>
				<td></td>
				<td>
					<form action='game_stats' method='GET'>
					<button class= "btn btn-success" name="game" value='{{game.id}}'>Update Player Ratings</td> 
					</form>
				</td>
				{% endif %}
			<tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</tbody>
	<table>
</div>


{% endblock %}