{% extends 'base.html' %}


{% block context%}
<form action="team_create" method='POST'>
{{form.hidden_tag()}}


<legend class=""> Create Teams</legend>

	<!-- Team Generating Button -->
    {% from "_formhelper.html" import render_field %}			
	<dl> <!-- begin error check -->


	<table>
		<th>{{form.team_num.description}}</th>
		
		<tr>
			<td>{{render_field(form.team_num)}} </td>
		</tr>	
	</table>
	</dl>
	
	{% if current_season.saved == False %}
	<!-- Button -->
	<button class="btn btn-success"> Create Magic!</button>
	{% endif %}
</form>

{% if current_season.saved == False %}
<!-- Save Teams; Disable Create Button-->
<form action="/team_save" method='POST'>
	<button class="btn btn-success"> Save Teams </button>
</form>
{% else %}
	<p class="alert alert-danger google_label">
 	<button type="button" class="close" data-dismiss="alert">&times;</button>
     		 Teams have been saved.</p>
{% endif %}


{% for team in teams %}
<table class="table-third span4 table-bordered">
<thead>
	<tr>
      <th>{{team.teamname}}</th>
      <th>Team Score:
      {% if current_season.saved == True %}
      {{team.getRating()}}</th>
      {% endif %}
      <th></th>
    </tr>
</thead>
  <tbody>

    	{% for player in team_members %} 
			{% if player.team_id == team.id%}
			<tr>	
				<td>{{player.user.fullname}} </td>
				<td>{{player.user.getRating()}}</td>
				<td>{{", ".join(player.user.show_positions())}}</td>
			<tr>
			{% endif %}
		{% endfor %}
  </tbody>
</table>
{% endfor %}

<!-- Links to Main Table -->
<div align= "center" class="text-center span12">

	<br><br><br>

	<button class="btn btn-success">
		<h3 class ="google_label"> Step 3: </h3>
		<a href='/team_leaders'>Team Leaders</a>
	</button>

	<button class="btn btn-success">
		<h3 class ="google_label"> Team Management </h3>
		<a href='/teams'>Main Menu</a>
	</button>
</div>

{% endblock %}