{% extends 'base.html' %}


{% block context%}

<!-- Captain Table -->
<table class="table table-b">
	<tr>
		<th>Captains: {{count_captains}} </th>
		{% for player in captains %}
			<td> {{player.getRating()}}: {{player.fullname}}</td>
		{% endfor %}
	</tr>
	<tr>
		<th>Admin: {{count_admins}}</th>
		{% for player in admins %}
			<td> {{player.fullname}}</td>
		{% endfor %}
	<tr>
	<!-- Team Dropdown Menu -->
	<tr> 
		<th>
		 <form action='team_leaders' method='GET' name='team_list'>
		  	<select name='list'>
		  		{%for team in form.teams%}
				<option value="{{team.id}}">{{team.teamname}}</option>
				{% endfor %}
			</select>
			<input type='submit' value='Show!!'>
		
		</form>
		</th>
		<th> Total Members:{{count_players}}</th>
	</tr>
</table>


<!-- Player Table -->
<div>
<table class="span8">

	<tr>
		<th> Player </th>
		<th> Opted: Team Leader </th>
		<th> Rating: </th>
		<th> Assign Roles</th>
	</tr>
	
	{% for player in team_members %}
		{% if player.team_id == team_list %}
			</tr>
				<td> {{player.user.fullname}}</td>

				{% if player.user.willing_teamLeader == True %}
				<td> Yes </td>
				{% else %}
				<td> No </td>
				{% endif %}

				<td>{{player.user.getRating()}} </td>

				<td> 
				<form action = "" method="POST" name="change_role">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="captain" value="{{player.user.id}}" >Make Captain</button>
					<button type="submit" class="btn btn-primary" name="admin" value="{{player.user.id}}">Make Admin</button>
					<button type="submit" class="btn btn-danger" name="undo" value="{{player.user.id}}"> Reset Player</button>
				</div>
				</form>
				</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
</div>

<div class="text-center span8">

	<button class="btn btn-success">
		<h3 class ="google_label"> Team Management </h3>
		<a href='/teams'> Main Menu </a>
	</button>	

</div>
{% endblock %}